<footer class="footer">

  <div class="container">
    <div class="row index-row footer-all">

      <div class="col-sm-5 index-left footer-1">
        <p><strong>Krowdprize </strong> Contests that matter</p>
        <p>
        Los Angeles California 
        </br>
        +661 373 4185 - info@krowdprize.com 
        </p>
      </div>

      <div class="col-sm-5 index-middle footer-2">
        <p><strong>From the Blog</strong></p>
        <p>Coming Soon...</p>
      </div>

      <div class="col-sm-2 index-right footer-3">
        <%= image_tag("logo.png", alt: "logo-image", class:'img-responsive logo') %>
      </div>

    </div>



  <hr>
      <div class="container-fluid">
            <div class="super-footer">

                <div class="row">
                    <div class="service-box col-sm-1">
                        <div class="social-links">
                            <%= image_tag('mail-white.png', id: 'blah', class: 'footer-img', alt: 'About') %>
                        </div>
                    </div>
                    <div class="service-box col-sm-1">
                        <div class="social-links">
                            <%= image_tag('facebook-white.png', id: 'blah', class: 'footer-img', alt: 'About') %>
                        </div>
                    </div>
                    <div class="service-box col-sm-1">
                        <div class="social-links">
                            <%= image_tag('twitter-white.png', id: 'blah', class: 'footer-img', alt: 'About') %>
                        </div>
                    </div>
                </div>
            </div>
      </div>

          <p class="copyright">
              <a href="#">
                  <font>
                      <font>Privacy and legal notices</font>
                  </font> 
              </a>
                  <font>
                      <font>  - © 2014 Krowdprize</font>
                  </font>


      </div>
  </div>

</footer>